<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMScalesData</key>
	<dict>
		<key>PlayOptions</key>
		<dict>
			<key>PlayDescending</key>
			<string>YES</string>
			<key>PlayAscending</key>
			<false/>
			<key>Sample</key>
			<string>Piano</string>
			<key>Octaves</key>
			<integer>1</integer>
		</dict>
		<key>ModeDefinitions</key>
		<dict>
			<key>Major</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string></string>
				<key>Alias</key>
				<string>Ionian</string>
			</dict>
			<key>Harmonic Major</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>A major with a lowered 6th</string>
			</dict>
			<key>Double Harmonic Major</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>A major with a lowered 2nd and 6th</string>
			</dict>
			<key>Natural Minor</key>
			<dict>
				<key>Alias</key>
				<string>Aeolian</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string></string>
			</dict>
			<key>Harmonic Minor</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>A minor with raised 7th</string>
			</dict>
			<key>Melodic Minor</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>PatternDesc</key>
				<array>
					<integer>-2</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
				</array>
				<key>Description</key>
				<string>A mknor with raised 6th and 7th in ascending.  Decending is the same as Natural Minor</string>
			</dict>
			<key>Double Harmonic Minor</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>A minor with raised 4th and 7th</string>
			</dict>
			<key>Ionian</key>
			<dict>
				<key>Alias</key>
				<string>Major</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>This is the modern major modality</string>
			</dict>
			<key>Dorian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string>A minor mode with raised 6th.</string>
			</dict>
			<key>Phrygian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string>A minor mode with lowered 2nd</string>
			</dict>
			<key>Lydian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>Description</key>
				<string>A major mode with raised 4th</string>
			</dict>
			<key>Mixolydian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string>A major mode with lowered 7th</string>
			</dict>
			<key>Aeolian</key>
			<dict>
				<key>Alias</key>
				<string>Natural Minor</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string>This is the modern minor modality</string>
			</dict>
			<key>Locrian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Description</key>
				<string>A minor mode with lowered 2nd and 5th</string>
			</dict>
			<key>Major Pentatonic</key>
			<dict>
				<key>VariationOf</key>
				<string>Minor Pentatonic</string>
				<key>Description</key>
				<string>Major Pentatonic Scale</string>
				<key>Pattern</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>Minor Pentatonic</key>
			<dict>
				<key>VariationOf</key>
				<string>Major Pentatonic</string>
				<key>Description</key>
				<string>Minor Pentatonic Scale</string>
				<key>Pattern</key>
				<array>
					<string>3</string>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>2</string>
				</array>
			</dict>
			<key>Whole-Half Octatonic</key>
			<dict>
				<key>VariationOf</key>
				<string>Half-Whole Octatonic</string>
				<key>Pattern</key>
				<array>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>Description</key>
				<string>Build by alternating whole step and half step</string>
			</dict>
			<key>Half-Whole Octatonic</key>
			<dict>
				<key>VariationOf</key>
				<string>Whole-Half Octatonic</string>
				<key>Pattern</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>Description</key>
				<string>Build by alternating half step and whole step</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.vmollov.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
