<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMScalesData</key>
	<dict>
		<key>ModeDefinitions</key>
		<dict>
			<key>Aeolian</key>
			<dict>
				<key>Description</key>
				<string>The Aeolian mode is identical to the natural minor scale.</string>
				<key>PatternOf</key>
				<string>Natural Minor/Aeolian</string>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Natural minor scale</string>
				</array>
				<key>order</key>
				<string>6</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Altered</key>
			<dict>
				<key>Description</key>
				<string>The altered scale is a dominant scale that provides both the raised and lowered ninth, and the raised and lowered fifth. It is built using the pattern half-whole-half-whole-whole-whole-whole.</string>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Half step between first and second</string>
					<string>Half step between third and fourth</string>
				</array>
				<key>order</key>
				<string>10</string>
			</dict>
			<key>Blues</key>
			<dict>
				<key>Description</key>
				<string>The blues scale is a six-note scale constructed by taking the minor pentatonic scale and adding a chromatic note between its third and fourth scale degrees. This creates half step intervals between scale degrees three, four and five of the blues scale, adding a chromatic flavor.</string>
				<key>Pattern</key>
				<array>
					<integer>3</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>3</string>
				<key>listenFor</key>
				<array>
					<string>Six scale degrees</string>
					<string>Similarity to minor pentatonic</string>
					<string>Run of three chromatic notes from third through fifth</string>
				</array>
				<key>order</key>
				<string>1</string>
				<key>stepPattern</key>
				<array>
					<string>2</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-2</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
					<string>-2</string>
				</array>
			</dict>
			<key>Dominant Bebop</key>
			<dict>
				<key>Description</key>
				<string>The dominant bebop scale is an eight-note scale constructed by taking the Mixolydian mode and adding a chromatic note between its seventh scale degree and the upper repeat of the tonic note. This creates half step intervals between scale degrees seven, eight, and the upper repeat of one, adding a chromatic flavor.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>3</string>
				<key>listenFor</key>
				<array>
					<string>Eight scale degrees</string>
					<string>Similarity to Mixolydian</string>
					<string>Run of three chromatic notes from seventh through upper first</string>
				</array>
				<key>order</key>
				<string>4</string>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
			<key>Dorian</key>
			<dict>
				<key>Description</key>
				<string>The Dorian mode is a natural minor scale with the sixth scale degree raised by one half step.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to natural minor scale</string>
					<string>Raised sixth</string>
				</array>
				<key>order</key>
				<string>2</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Dorian Flat 2</key>
			<dict>
				<key>Description</key>
				<string>The Dorian flat 2 scale is a natural minor scale with the second scale degree lowered and the sixth scale degree raised by one half step. This creates a scale similar to the Dorian ancient mode with a half step between the first and second scale degrees.</string>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Dorian</string>
					<string>Half step between first and second</string>
				</array>
				<key>order</key>
				<string>5</string>
			</dict>
			<key>Double Harmonic Major</key>
			<dict>
				<key>Description</key>
				<string>The double harmonic major scale is a major scale with the second and sixth scale degrees lowered by one half step. This creates an augmented second between the second and third scale degrees, as well as between the sixth and seventh scale degrees. It can also be thought of as a harmonic major scale with the second scale degree lowered by one half step.</string>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Major quality with two augmented seconds</string>
				</array>
				<key>order</key>
				<string>3</string>
			</dict>
			<key>Double Harmonic Minor</key>
			<dict>
				<key>Description</key>
				<string>The double harmonic minor scale is a natural minor scale with the fourth and seventh scale degrees raised by one half step. This creates an augmented second between the third and fourth scale degrees, as well as between the sixth and seventh scale degrees. It can also be thought of as a harmonic minor scale with the fourth scale degree raised by one half step.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Minor quality with two augmented seconds</string>
				</array>
				<key>order</key>
				<string>4</string>
			</dict>
			<key>Half-Whole Octatonic</key>
			<dict>
				<key>Description</key>
				<string>The half-whole octatonic scale consists of eight notes constructed by alternating between half and whole steps, beginning with a half step.</string>
				<key>Pattern</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>VariationOf</key>
				<string>Whole-Half Octatonic</string>
				<key>groupId</key>
				<string>6</string>
				<key>listenFor</key>
				<array>
					<string>Eight scale degrees</string>
					<string>Half step between first and second</string>
				</array>
				<key>order</key>
				<string>2</string>
				<key>startEnabled</key>
				<true/>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
			<key>Harmonic Major</key>
			<dict>
				<key>Description</key>
				<string>The harmonic major scale is a major scale with the sixth scale degree lowered by one half step. This creates an augmented second between the sixth and seventh scale degrees.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to major scale</string>
					<string>Augmented second between sixth and seventh</string>
				</array>
				<key>order</key>
				<string>1</string>
			</dict>
			<key>Harmonic Minor</key>
			<dict>
				<key>Description</key>
				<string>The harmonic minor scale is the natural minor scale with the seventh scale degree raised by one half step. This creates an augmented second between the sixth and seventh scale degrees.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>3</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>1</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to natural minor scale</string>
					<string>Augmented second between sixth and seventh</string>
				</array>
				<key>order</key>
				<string>3</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Ionian</key>
			<dict>
				<key>Description</key>
				<string>The Ionian mode is identical to the major scale.</string>
				<key>PatternOf</key>
				<string>Major/Ionian</string>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Major scale</string>
				</array>
				<key>order</key>
				<string>1</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Locrian</key>
			<dict>
				<key>Description</key>
				<string>The Locrian mode is a natural minor scale with the second and fifth scale degrees lowered by one half step. This mode is often the most difficult to identify and sounds the "darkest" of the ancient modes.</string>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Phrygian</string>
					<string>Lowered fifth</string>
				</array>
				<key>order</key>
				<string>7</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Locrian Sharp 2</key>
			<dict>
				<key>Description</key>
				<string>The Locrian sharp 2 scale is a natural minor scale with the fifth scale degree lowered by one half step. It gets its name from its similarity to the Locrian mode.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Locrian</string>
					<string>Natural minor with lowered fifth</string>
				</array>
				<key>order</key>
				<string>9</string>
			</dict>
			<key>Lydian</key>
			<dict>
				<key>Description</key>
				<string>The Lydian mode is a major scale with the fourth scale degree raised by one half step. This gives the mode a "brighter" feel than the major scale.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to major scale</string>
					<string>Raised fourth</string>
				</array>
				<key>order</key>
				<string>4</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Lydian Augmented</key>
			<dict>
				<key>Description</key>
				<string>The Lydian augmented scale is a major scale with the fourth and fifth scale degrees raised by one half step. The scale gets its name from its similarity to the Lydian mode and the augmented fifth created between the first and fifth scale degrees.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Lydian</string>
					<string>Augmented fifth</string>
				</array>
				<key>order</key>
				<string>6</string>
			</dict>
			<key>Lydian Dominant</key>
			<dict>
				<key>Description</key>
				<string>The Lydian dominant scale is a major scale with the fourth scale degree raised and the seventh scale degree lowered by one half step. The scale gets its name from its similarity to the Lydian mode and the dominant sound of the Mixolydian mode.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Lydian</string>
					<string>Lowered seventh</string>
					<string>Characteristics of both Lydian and Mixolydian</string>
				</array>
				<key>order</key>
				<string>7</string>
			</dict>
			<key>Major</key>
			<dict>
				<key>Description</key>
				<string>The major scale is one of the most common scales and the foundation upon which to learn the other scales and modes. It is the one taught in the song "Do-Re-Mi" from Rodgers and Hammerstein's The Sound of Music. This scale is also equivalent to the Ionian ancient mode.</string>
				<key>PatternOf</key>
				<string>Major/Ionian</string>
				<key>groupId</key>
				<string>1</string>
				<key>listenFor</key>
				<array>
					<string>Familiar "do-re-mi-fa-sol-la-ti-do" sequence</string>
				</array>
				<key>order</key>
				<string>1</string>
			</dict>
			<key>Major Bebop</key>
			<dict>
				<key>Description</key>
				<string>The major bebop scale is an eight-note scale constructed by taking the major scale and adding a chromatic note between its fifth and sixth scale degrees. This creates half step intervals between scale degrees five, six and seven of the major bebop scale, adding a chromatic flavor.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>3</string>
				<key>listenFor</key>
				<array>
					<string>Eight scale degrees</string>
					<string>Similarity to major scale</string>
					<string>Run of three chromatic notes from fifth through seventh</string>
				</array>
				<key>order</key>
				<string>2</string>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-1</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
			<key>Major Pentatonic</key>
			<dict>
				<key>Description</key>
				<string>The major pentatonic scale is comprised of five notes which correspond to the first, second, third, fifth and sixth scale degrees of the major scale. This creates a leap of a minor third between the third and fourth scale degrees, and between the seventh and the repeat of the tonic note at the top of the scale. It is important to correctly identify the placement of the two minor third leaps as the minor pentatonic scale also features two minor third leaps.</string>
				<key>Pattern</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>VariationOf</key>
				<string>Minor Pentatonic</string>
				<key>groupId</key>
				<string>5</string>
				<key>listenFor</key>
				<array>
					<string>Five scale degrees</string>
					<string>Notes based on major scale</string>
					<string>Two minor third leaps</string>
				</array>
				<key>order</key>
				<string>1</string>
				<key>startEnabled</key>
				<true/>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>1</string>
				</array>
			</dict>
			<key>Major/Ionian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>groupId</key>
				<string>1</string>
				<key>order</key>
				<string>1</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Melodic Major</key>
			<dict>
				<key>Description</key>
				<string>The melodic major scale's notes alter depending on whether one is playing it ascending from bottom to top, or descending from top to bottom.  When ascending, it is identical to a major scale.  When descending, the sixth and seventh scale degrees are lowered by one half step.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>PatternDesc</key>
				<array>
					<integer>-2</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
					<integer>-2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Change between ascending and descending progressions</string>
					<string>Major scale when ascending</string>
					<string>Lowered sixth and seventh when descending</string>
				</array>
				<key>order</key>
				<string>2</string>
			</dict>
			<key>Melodic Minor</key>
			<dict>
				<key>Description</key>
				<string>The melodic minor scale's notes alter depending on whether one is playing it ascending from bottom to top, or descending from top to bottom. When ascending, it is the natural minor scale with the sixth and seventh scale degrees raised one half step. When descending, it is identical to the natural minor scale.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
				</array>
				<key>PatternDesc</key>
				<array>
					<integer>-2</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
					<integer>-2</integer>
					<integer>-1</integer>
					<integer>-2</integer>
				</array>
				<key>groupId</key>
				<string>1</string>
				<key>listenFor</key>
				<array>
					<string>Change between ascending and descending progressions</string>
					<string>Raised sixth and seventh when ascending</string>
					<string>Natural minor scale when descending</string>
				</array>
				<key>order</key>
				<string>4</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Minor Bebop</key>
			<dict>
				<key>Description</key>
				<string>The minor bebop scale is an eight-note scale constructed by taking the Dorian mode and adding a chromatic note between its third and fourth scale degrees. This creates half step intervals between scale degrees three, four and five of the minor bebop scale, adding a chromatic flavor.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>3</string>
				<key>listenFor</key>
				<array>
					<string>Eight scale degrees</string>
					<string>Similarity to Dorian</string>
					<string>Run of three chromatic notes from third through fifth</string>
				</array>
				<key>order</key>
				<string>3</string>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
			<key>Minor Pentatonic</key>
			<dict>
				<key>Description</key>
				<string>The minor pentatonic scale is comprised of five notes which correspond to the first, third, fourth, fifth and seventh scale degrees of the natural minor scale. This creates a leap of a minor third between the first and second scale degrees, and between the fourth and fifth scale degrees. It is important to correctly identify the placement of the two minor third leaps as the major pentatonic scale also features two minor third leaps.</string>
				<key>Pattern</key>
				<array>
					<string>3</string>
					<string>2</string>
					<string>2</string>
					<string>3</string>
					<string>2</string>
				</array>
				<key>VariationOf</key>
				<string>Major Pentatonic</string>
				<key>groupId</key>
				<string>5</string>
				<key>listenFor</key>
				<array>
					<string>Five scale degrees</string>
					<string>Notes based on natural minor scale</string>
					<string>Two minor third leaps</string>
				</array>
				<key>order</key>
				<string>2</string>
				<key>startEnabled</key>
				<true/>
				<key>stepPattern</key>
				<array>
					<string>2</string>
					<string>1</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-2</string>
					<string>-1</string>
					<string>-1</string>
					<string>-2</string>
				</array>
			</dict>
			<key>Mixolydian</key>
			<dict>
				<key>Description</key>
				<string>The Mixolydian mode is a major scale with the seventh scale degree lowered by one half step. This is sometimes referred to as a dominant scale because a dominant seventh chord can be built from it.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to major scale</string>
					<string>Lowered seventh</string>
				</array>
				<key>order</key>
				<string>5</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Mixolydian Flat 6</key>
			<dict>
				<key>Description</key>
				<string>The Mixolydian flat 6 scale is a major scale with the sixth and seventh scale degrees lowered by one half step. This scale is also identical to the descending form of the melodic major scale.</string>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>4</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to Mixolydian with lowered sixth</string>
					<string>Identical to descending melodic major scale</string>
				</array>
				<key>order</key>
				<string>8</string>
			</dict>
			<key>Natural Minor</key>
			<dict>
				<key>Description</key>
				<string>The natural minor scale is formed by taking its relative major scale (the major scale with the same key signature) and building the scale up using the same notes, starting from the major scale’s sixth scale degree. The sound of the natural minor scale differs from the sound of the major scale in that the third, sixth and seventh scale degrees are lowered by one half step.  This scale is also equivalent to the Aeolian ancient mode.</string>
				<key>PatternOf</key>
				<string>Natural Minor/Aeolian</string>
				<key>groupId</key>
				<string>1</string>
				<key>listenFor</key>
				<array>
					<string>Lowered third, sixth and seventh (from major scale)</string>
				</array>
				<key>order</key>
				<string>2</string>
			</dict>
			<key>Natural Minor/Aeolian</key>
			<dict>
				<key>Pattern</key>
				<array>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>1</string>
				<key>order</key>
				<string>2</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Phrygian</key>
			<dict>
				<key>Description</key>
				<string>The Phrygian mode is a natural minor scale with the second scale degree lowered by one half step. This gives the mode its characteristic "flamenco" flavor.</string>
				<key>Pattern</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>groupId</key>
				<string>2</string>
				<key>listenFor</key>
				<array>
					<string>Similarity to natural minor scale</string>
					<string>Lowered second</string>
				</array>
				<key>order</key>
				<string>3</string>
				<key>startEnabled</key>
				<true/>
			</dict>
			<key>Whole Tone</key>
			<dict>
				<key>Description</key>
				<string>The whole tone scale contains six notes constructed by placing each note a whole step higher than the previous note.</string>
				<key>Pattern</key>
				<array>
					<string>2</string>
					<string>2</string>
					<string>2</string>
					<string>2</string>
					<string>2</string>
					<string>2</string>
				</array>
				<key>groupId</key>
				<string>6</string>
				<key>listenFor</key>
				<array>
					<string>Six scale degrees</string>
					<string>Scale consists only of whole steps</string>
				</array>
				<key>order</key>
				<string>3</string>
				<key>startEnabled</key>
				<true/>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-2</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
			<key>Whole-Half Octatonic</key>
			<dict>
				<key>Description</key>
				<string>The whole-half octatonic scale consists of eight notes constructed by alternating between whole and half steps, beginning with a whole step.</string>
				<key>Pattern</key>
				<array>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>VariationOf</key>
				<string>Half-Whole Octatonic</string>
				<key>groupId</key>
				<string>6</string>
				<key>listenFor</key>
				<array>
					<string>Eight scale degrees</string>
					<string>Whole step between first and second</string>
				</array>
				<key>order</key>
				<string>1</string>
				<key>startEnabled</key>
				<true/>
				<key>stepPattern</key>
				<array>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>0</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
					<string>1</string>
				</array>
				<key>stepPatternDesc</key>
				<array>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
					<string>0</string>
					<string>-1</string>
					<string>-1</string>
					<string>-1</string>
				</array>
			</dict>
		</dict>
		<key>ModeGroups</key>
		<dict>
			<key>1</key>
			<string>Common Scales</string>
			<key>2</key>
			<string>Ancient Modes</string>
			<key>3</key>
			<string>Jazz Scales</string>
			<key>4</key>
			<string>Other Heptatonic Scales</string>
			<key>5</key>
			<string>Pentatonic Scales</string>
			<key>6</key>
			<string>Symmetric Scales</string>
		</dict>
		<key>Samples</key>
		<dict>
			<key>Piano</key>
			<dict>
				<key>rangeHigh</key>
				<integer>108</integer>
				<key>rangeLow</key>
				<integer>29</integer>
			</dict>
			<key>Trombone</key>
			<dict>
				<key>rangeHigh</key>
				<integer>67</integer>
				<key>rangeLow</key>
				<integer>36</integer>
			</dict>
			<key>Vibraphone</key>
			<dict>
				<key>rangeHigh</key>
				<integer>89</integer>
				<key>rangeLow</key>
				<integer>53</integer>
			</dict>
		</dict>
		<key>Tier1ProductID</key>
		<string>com.vmollov.ModesEarTrainer_tier1</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.vmollov.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
